@import "../../global.scss";

.menu{
  width: 22rem;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -22rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;

  &.active{
    right: 0;
  }
}