@import "../../global.scss";

.topbar{
  width: 100%;
  height: 70px;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 1s ease;

  .wrapper{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;

    .left{
      display: flex;

      .logo{
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 4rem;
      }

      .itemContainer{
        display: flex;
        align-items: center;
        margin-left: 1.2rem;

        a{
          margin-left: 0.7rem;
          text-decoration: none;
          color: inherit;
        }

        .icon{
          font-size: 100px;
        }

        span{
          margin-left: 0.7rem;
        }
      }
    }
  }

  .right{

    .hamburguer{
      
      .menuIcon{
        font-size: 30px;
        cursor: pointer;
        transition: transform 250ms;

        &:hover{
          transform: scale(1.25, 1.25)
        }

        &:active{
          transform: scale(0, 0);
        }
      }

      .closeIcon{
        font-size: 30px;
        display: none;
      }
    }
  }

  &.active{
    background-color: $mainColor;
    color: white;

    .hamburguer{

      .menuIcon{
        display: none;
      }

      .closeIcon{
        display: flex;
        cursor: pointer;
        transition: transform 250ms;

        &:hover{
          transform: scale(1.25, 1.25)
        }

        &:active{
          transform: scale(0, 0);
        }
      }
    }
  }
}