@import "../../global.scss";

.topbar {
  width: 100%;
  padding: 0.2%;
  border-top: 1%;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;

    .left {
      display: flex;
      align-content: center;

      .logo {
        font-family: 'Leckerli One', cursive;
        background-color: $mainColor;
        border-radius: 20%;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        transition: all 1s ease;
      }

      .links {
        display: flex;
        align-items: center;
        margin-left: 1rem;
      }

      .contact-info {
        display: flex;
      }

      .item-container {
        align-items: center;
        font-size: large;
        display: flex;
        margin-left: 2rem;
        
        .topbar-icon {
          font-weight: bold;
          margin-right: 1rem;
        }
        
        a {
          display: flex;
          margin-left: 0.7rem;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .right {

    .hamburguer {
      overflow: hidden;
      
      .menu-icon {
        font-size: xx-large;
        cursor: pointer;
        @include menuIconAnimation;
      }

      .close-icon {
        font-size: xx-large;
        display: none;
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .wrapper {
      .left {
        .logo {
          background-color: white;
          color: $mainColor;
        }
      }
    }

    .hamburguer{

      .menu-icon{
        display: none;
      }

      .close-icon{
        display: flex;
        cursor: pointer;
        @include menuIconAnimation;
      }
    }
  }

  @media screen and (max-width: 1250px) {
    
    .wrapper {
      .left {
        .item-container {
          font-size: initial;
          align-items: center;
        }

        .email {
          margin-top: 1%;
        }
      }
    }
    
  }

  @media screen and (max-width: 1200px) {
    .wrapper {
      .left {
        .item-container {
          font-size: small;
        }
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .wrapper {
      .left {
        text-align: center;

        .topbar-icon {
          font-size: 1.5rem;

          &.linkedin {
            font-size: 2rem;
          }
        }

        .resume {
          display: none;
        }

        .links {
          display: flex;
          align-items: center;

          span {
            display: none;
            top: auto;
          } 
        }

        .item-container {
          font-size: small;
          align-items: center;
          margin-left: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 755px) {
    .email {
      display: none;
    }
    .wrapper {
      .left {
        .links {
          .item-container {
            margin-left: 0.1rem;
          }
        }
      }
    }
  }

  // @media screen and (max-width: 415px) {
   
  // }
}