@import "../../global.scss";

.topbar {
  width: 100%;
  padding: 0.2%;
  border-top: 1%;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;

    .left {
      display: flex;

      .logo {
        font-family: 'Leckerli One', cursive;
        background-color: $mainColor;
        border-radius: 20%;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        font-weight: 300;
        margin-right: 1rem;
        transition: all 1s ease;
      }

      .item-container {
        align-items: center;
        font-size: large;
        display: flex;
        margin-left: 2rem;
        
        .topbar-icon {
          font-weight: bold;
          margin-right: 1rem;
        }
        
        a {
          display: flex;
          margin-left: 0.7rem;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .right {

    .hamburguer {
      overflow: hidden;
      
      .menu-icon {
        font-size: xx-large;
        cursor: pointer;
        @include menuIconAnimation;
      }

      .close-icon {
        font-size: xx-large;
        display: none;
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .wrapper {
      .left {
        .logo {
          background-color: white;
          color: $mainColor;
        }
      }
    }

    .hamburguer{

      .menu-icon{
        display: none;
      }

      .close-icon{
        display: flex;
        cursor: pointer;
        @include menuIconAnimation;
      }
    }
  }

  @media screen and (max-width: 1250px) {
    
    .wrapper {
      .left {
        .item-container {
          font-size: initial;
          align-items: center;
        }
      }
    }
    
  }
}