@import '../../global.scss';
@import "~bootstrap/scss/bootstrap";

.workModal {

  .modalBody{
    display: flex;
    flex-direction: column;

    img {
      object-fit: contain;
      width: 95%;
      border: 0.1em solid lightgrey;
      align-self: center;
    }

    span {
      margin-top: 1.5%;
      margin-bottom: 1%;
    }

    a {
      display: flex;
      align-items: center;

      .ghIcon {
        color: black;
        margin-right: 0.3%;
      }
    }
  }

  .modalFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    img {
      object-fit: contain;
      width: 8%;
      margin-right: 5%;
      margin-left: 1%;
      margin-bottom: 1%;
    }
  }
}