@import '../../global.scss';

.about {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  .card {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
    width: 50%;
    position: relative;
    
    .profile-photo {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: $mainColor;
      
      img {
        width: 80%;
        height: 40%;
        border-radius: 50%;
        object-position: 0%;
        object-fit: cover;
        // transform: scale(3.5)
      }
    }
    
    .skill-icons {
      display: flex;
      padding-top: 3%;
      flex-wrap: wrap;
      justify-content: space-around;
      
      img {
        width: 12%;
        object-fit: contain;
      }
    }
  }

  .upArrow {
    @include arrow (-7%)
  }

  .downArrow {
    @include arrow(-99%);
  }
}