@import '../../global.scss';

.about {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .card {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
    width: 50%;
    position: relative;
    border: none;
    
    .sidebar {
      display: flex;
      padding: 1.5%;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: rgb(68, 160, 206);

      h3 {
        color: white;
        text-align: center;
        margin-bottom: 1rem;
      }

      h4 {
        color: white;
        text-align: center;
        margin-top: 1rem;
      }

      .social-media-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        #linkedin-icon {
          font-size: 2.5rem;
        }
      }

      a {
        display: flex;
        color: white;
        text-decoration: none;

        .icon {
          font-size: 2rem;
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
      }
      
      img {
        width: 80%;
        height: 35%;
        border-radius: 50%;
        object-position: 0%;
        object-fit: cover;
        border: 0.2rem solid white;
        box-shadow: 0.5rem;
      }

      span {
        color: white;
        margin-top: 10%;
      }
    }
    
    .skill-icons {
      display: flex;
      padding-top: 3%;
      flex-wrap: wrap;
      justify-content: space-around;
      
      img {
        width: 12%;
        object-fit: contain;
      }
    }
  }

  .up-arrow {
    @include arrow (-7%);
    z-index: 1;
  }

  .down-arrow {
    @include arrow(-99%);
  }

  @media screen and (max-width: 1500px) {
    .card {
      width: 70%;
    }

    .down-arrow {
      @include arrow(-100%);
    }
  }

  @media screen and (max-width: 1024px) {
    .card {
      width: 90%;
    }
  }
}