@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  .left {
    display: flex;
    flex: 0.5;
    align-items: center;
    overflow: hidden;    
    
    .imgContainer{
      display: flex;
      background-color: $introColor;
      border-radius: 50%;
      height: 35rem;
      width: 35rem;
      left: 15%;
      position: relative;
      
      img {
        object-position: 65% 0;
        object-fit: cover;
        position: relative;
      }
    }
    
  }
  
  .right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    .wrapper {
      font-size: xx-large;
      display: flex;
      flex-direction: column;
      
      h2 {
        margin-bottom: 1rem;
        font-weight: 500;
      }
  
      h1 {
        margin-bottom: 1rem;
      }
  
      h3 {
        font-weight: 500;
        color: $introColor;
      }
    }

    a {
      position: absolute;
      bottom: 0%;
      color: inherit;
      left: 35%;
      overflow: hidden;

      .downArrow {
        font-size: 5rem;
        font-weight: 100;
        animation: float 3s ease-in-out infinite;
      }
    }

  }
}
