@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  .left {
    display: flex;
    flex: 0.5;
    align-items: center;
    overflow: hidden;    
    
    .imgContainer{
      display: flex;
      background-color: $introColor;
      border-radius: 50%;
      height: 80%;
      width: 70%;
      left: 10%;
      position: relative;
      
      img {
        object-position: 65% 0;
        object-fit: cover;
        position: relative;
        transition: all 250ms ease;
      }
    }
  }
  
  .right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    .wrapper {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      
      h2 {
        font-size: 2.5em;
        margin-bottom: 1rem;
        font-weight: 500;
      }
  
      h1 {
        font-size: 5em;
        margin-bottom: 1rem;
        width: min-content;
      }
  
      h3 {
        font-size: 3em;
        font-weight: 500;
        color: $introColor;
      }
    }  
  }
  
  .downArrow {
    @include arrow(0%);
  }

  @media screen and (max-width: 950px) {
    .imgContainer {
      margin-bottom: 10%;
    }
    
    .right {
      .wrapper {
        margin-bottom: 10%;
        h2 {
          font-size: 1.5em;
        }

        h1 {
          font-size: 3em;
        }

        h3 {
          font-size: 2em;
          width: 70%;
        }
      }
    }
  }
}
