.intro {
  background-color: white;
  display: flex;

  .left {
    display: flex;
    flex: 0.5;
    align-items: flex-end;
    overflow: hidden;    
    
    .imgContainer{
      display: flex;
      background-color: crimson;
      border-radius: 50%;
      height: 115%;
      position: relative;
      left: -15%;
      bottom: -20%;
      
      img {
        object-position: 65% 0;
        object-fit: cover;
        position: relative;
        bottom: 10%;
      }
    }
    
  }
  
  .right {
    flex: 0.5;
  }
}
