$mainColor: #15023a;
$introColor: crimson;

@mixin menuIconAnimation {
  transition: transform 250ms;

  &:hover {
    transform: scale(1.25, 1.25);
  }

  &:active {
    transform: scale(0, 0);
  }
}

@mixin arrow($bottom) {
  position: absolute;
  bottom: $bottom;
  opacity: 50%;
  left: 45%;
  color: $mainColor;
  overflow: hidden;
  font-size: 3rem;
  font-weight: 100;
  animation: float 3s ease-in-out infinite;
  transition: all 250ms ease;

  &:hover {
    opacity: 100%;
  }
}

@keyframes float {
  0% { transform: translateY(0%); }

  50% { transform: translateY(15%); }

  100% { transform: translateY(0%); }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}