@import '../../global.scss';
@import "~bootstrap/scss/bootstrap";

.work {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 2%;
  border: 0.1em solid rgb(225, 225, 225);
  margin: 1%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;

  img {
    width: 100%;
    overflow: hidden;
    image-rendering: optimizeQuality;
    z-index: 1;
  }

  h3 {
    position: absolute;
    font-size: x-large;
    width: 55%;
    bottom: 50%;
    left: 25%;
    right: 25%;
    color: white;
    z-index: -1;
  }

  &:hover {
    background-color: $mainColor;
    
    img {
      opacity: 0.2;
    }

    h3 {
      z-index: 0;
    }
  }

  @media screen and (max-width: 1500px) {
    .modal-dialog {
      display: flex;
      width: 100%;
      height: 95%;
  
      .modal-body {
        display: flex;
        flex-direction: column;
      
        .card {
          height: 95%;
          width: 100%;
          border: none;
          align-items: center;
  
          img {
            width: cover;
            border: none;
          }
        }
  
        .description {
          display: flex;
          flex-direction: column;
  
          span {
            margin-bottom: 1%;
            padding: 0.5%;
          }
          
          a {
            width: -webkit-fill-available;
            padding: 0.4%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    h3 {
      font-size: large;
    }
  }
}

.modal-title {
  margin-left: 0.5%;
}

.modal-body{
  display: flex;
  flex-direction: column;

  .card {
    border: none;
    height: 30rem;
    margin-bottom: 1%;
  }  

  img {
    object-fit: contain;
    width: 95%;
    border: 0.1em solid lightgrey;
    align-self: center;
  }

  span {
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 0.5%;
  }

  a {
    display: flex;
    align-items: center;
    margin-top: 0.5%;
    margin-left: 0.5%;

    .gh-icon {
      color: black;
      margin-right: 0.4%;
    }
  }
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.5%;
  
  img {
    object-fit: contain;
    width: 8%;
    margin-right: 5%;
    margin-left: 1%;
    margin-bottom: 1%;
   } 
}